@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wordle-green {
  background-color: #6ba964;
  border-color: #6ba964;
  color: #fff;
}

.wordle-yellow {
  background-color: #b59f3b;
  border-color: #b59f3b;
  color: #fff;
}

.wordle-gray {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
  color: #fff;
}

.wordle-input {
  letter-spacing: 1rem;
}

#letterCoverage::after {
  content: '';
  @apply h-8 w-8 rounded-full bg-gray-100 absolute transform scale-75 transition duration-200;
}

#letterCoverage:checked::after {
  @apply transform scale-75 translate-x-8 bg-gray-100;
}